@media (max-width: 576px) {

    .Main {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('sky.jpg');
        background-attachment: fixed;
        background-size: 100% 65%;
        background-repeat:no-repeat;
        width: 100%;
      
     
       
        .section-1{
                margin:3%;
                
                   .h1-A{
                        text-align: center;
                    }

                    .p1{
                        width:100%;
                        font-size: 18px;
                       
                        text-align: center;
                        
                    }

            .bt-cal{
                height:50px;
                margin-left:25%;
                width:45%;
                cursor: pointer;
                font-size: 17px;
                background-color: #ed7268;
                color:white;
                border:none;
                border-radius: 5px;
                font-weight: bold;
                
            }

        }

        
        .section-2{
           
            text-align: center;
            width:100%;
            background-color: #33475b;
            justify-content: center;
           

                .glance{
                    color:white;
                    padding:10px;
                    
                }
           
             .client{
               
                    color:white;
                    padding:10px;

                    .Active{
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        justify-content: center;
                       

                        .num{
                            font-size:25px;
                    } 
                    .Aw{
                        padding:15px;
                    }
                }   
            }
        }


        .section-3A{
           width:90%;
           

            .h1-3A{
                text-align: center;
            }
          
           
            .h1-A{

               
                text-align: center;
                
                .section-31{
                    display: flex;
                    flex-direction: column;
                    gap:25px;

                        
                    }

                .p-1{
                    
                    width:75%;
                    padding: 25px ;
                    border-radius: 20px;
                    background-color: whitesmoke;
                    height:75%;
                    border: 4px solid orange;
                    border-width: 4px 0 0 4px;
                    border-radius: 20px;
                    box-shadow: 10px 10px rgb(93, 93, 192);
                   
                }
            }
        }

        .section-3B{
           margin-top:7%;
            width:90%;
            display: flex;
           
            
          
             .section-31{
                display: flex;
                gap:4%;
                flex-direction: column;
              
             }
                
             .p-1{
                text-align: center;
                width:75%;
                height:75%;
                padding: 27px ;
                border-radius: 20px;
                background-color: whitesmoke;
                box-shadow: 10px 10px rgb(93, 93, 192);
                border: 4px solid orange;
                border-width: 4px 0 0 4px;
             
                
            }
        }

        .section-4A{
            margin-top: 15%;
            display: flex;
            
            flex-direction: column;
            width:100%;
           
           
            

                .section-41{
                    
                    width:90%;
                    
                    padding:5%;
                    line-height: 30px;
                    font-size: 20px;

                    .h1-A{
                        font-size: 25px;
                    }
                    
               }
                

                .section-42{


                   


                    .sky1{
                        
                        width:350px;
                        margin-left: 25px;
                        
                    }
                }


        }

            .section-4B{
               
                 
               width:100%;
               
               
                .section-41B{
                        margin-top:15%;
                       

                        .sky1{
                           margin-left:25px;
                            width:350px;
                            
                        }

                    }

                    .section-42B{
                        
                        width:90%;
                       
                        padding:5%;
                        line-height: 30px;
                        font-size: 20px;

                        .h1-A{
                            font-size: 25px;
                        }

                    }
            }

            .section-5{
                
               
                width:100%;
                color:white;
                text-align: center;
                background-color: #ed7268;
                

                    .btn-div{
                       
                        width:70%;
                        
                       
                        
                            .btn-cal {

                                height:40px;
                                width:50%;
                                color:white;
                                border-radius: 5px;
                                margin:2% 0 2% 30%;
                                border:2px solid white;
                                background-color: transparent;
                                font-weight: bold;
                                cursor: pointer;
                                
                            }
                            .btn-cal:hover{
                                background-color: white;
                                color: #33475b;
                            }
                     }
             } 
    }


}

@media(min-width:577px) and (max-width: 767px) {

.Main {
       
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('sky.jpg');
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 710px; 
 
   
    .section-1{
            margin:10%;
            
               .h1-A{
                    text-align: center;
                }

                .p1{
                    width:100%;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    
                }

        .bt-cal{
            height:50px;
            margin:  5% 42% ;
            width:18%;
            cursor: pointer;
            font-size: 17px;
            background-color: #ed7268;
            color:white;
            border:none;
            border-radius: 5px;
            font-weight: bold;
            
        }

    }

    
    .section-2{
       
        display: flex;
        width:100%;
        background-color: #33475b;
        justify-content: space-around;
       

            .glance{
                color:white;
                padding:10px;
            }
       
         .client{
                display: flex;
                color:white;
                padding:10px;

                .Active{
                    display: flex;
                    flex-direction: row;
                   

                    .num{
                        font-size:29px;
                } 
                .Aw{
                    padding:15px;
                }
            }   
        }
    }


    .section-3A{
       width:90%;
       

        .h1-3A{
            text-align: center;
        }
      
       
        .h1-A{

            display: flex;
            text-align: center;
            
            .section-31{
                    display: flex;
                    gap:4%;
                }

            .p-1{
                
                width:35%;
                padding: 25px ;
                border-radius: 20px;
                background-color: whitesmoke;
                height:75%;
                border: 4px solid orange;
                border-width: 4px 0 0 4px;
                border-radius: 20px;
                box-shadow: 10px 10px rgb(93, 93, 192);
               
            }
        }
    }

    .section-3B{
       margin-top:7%;
        width:90%;
        display: flex;
        
      
         .section-31{
            display: flex;
            gap:4%;
          
         }
            
         .p-1{
            text-align: center;
            width:35%;
            height:75%;
            padding: 27px ;
            border-radius: 20px;
            background-color: whitesmoke;
            box-shadow: 10px 10px rgb(93, 93, 192);
            border: 4px solid orange;
            border-width: 4px 0 0 4px;
         
            
        }
    }

    .section-4A{
        
        display: flex;
        width:100%;
       
        

            .section-41{
                height:70%;
                width:40%;
                margin:2%;
                padding:2%;
                line-height: 30px;
                font-size: 20px;
                
           }
            

            .section-42{

                height:70%;
                width:50%;
                margin:2%;


                .sky1{
                    height:100%;
                    width:88%;
                    margin:7% 0 0 4%;
                }
            }


    }

        .section-4B{
           
             
           width:100%;
           display: flex;
           
            .section-41B{
                    height:70%;
                    width:50%;
                   

                    .sky1{
                        height:100%;
                        width:86%;
                        margin:10% 0 0 4%;
                    }

                }

                .section-42B{
                    height:70%;
                    width:40%;
                    margin:3%;
                    padding:2%;
                    line-height: 30px;
                    font-size: 20px;

                }
        }

        .section-5{
            
            height:100%;
            width:100%;
            color:white;
            text-align: center;
            background-color: #ed7268;
            

                .btn-div{
                    height:30%;
                    width:20%;
                    margin:2% 0 2% 37%;
                   
                    
                        .btn-cal {

                            height:70%;
                            width:50%;
                            color:white;
                            border-radius: 5px;
                            margin:2% 0 2% 30%;
                            border:2px solid white;
                            background-color: transparent;
                            font-weight: bold;
                            cursor: pointer;
                            
                        }
                        .btn-cal:hover{
                            background-color: white;
                            color: #33475b;
                        }
                 }
         } 
}

}

@media(min-width:768px) and (max-width: 991.98px) {
    .Main {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('sky.jpg');
        background-attachment: fixed;
        background-size: 100%;
        width: 100%;
        height: 710px; 
     
       
        .section-1{
                margin:10%;
                
                   .h1-A{
                        text-align: center;
                    }
    
                    .p1{
                        width:100%;
                        font-size: 20px;
                        line-height: 30px;
                        text-align: center;
                        
                    }
    
            .bt-cal{
                height:50px;
                margin-left:35%;
                width:25%;
                cursor: pointer;
                font-size: 17px;
                background-color: #ed7268;
                color:white;
                border:none;
                border-radius: 5px;
                font-weight: bold;
                
            }
    
        }
    
        
        .section-2{
          
            text-align: center;
            width:100%;
            background-color: #33475b;
            
           
    
                .glance{
                    color:white;
                    padding:10px;
                }
           
             .client{
                   
                    color:white;
                    padding:10px;
    
                    .Active{
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        justify-content: center;
                        font-size: 25px;
                       
                        
                       
    
                        .num{
                            font-size:29px;
                    } 
                    .Aw{
                        padding:15px;
                        
                        

                    }
                }   
            }
        }
    
    
        .section-3A{
           width:90%;
           
    
            .h1-3A{
                text-align: center;
            }
          
           
            .h1-A{
    
               
                text-align: center;
                
                .section-31{
                        display: flex;
                        flex-direction: column;
                        gap:25px;
                    }
    
                .p-1{
                    margin-left:5%;
                    width:80%;
                    padding: 25px ;
                    border-radius: 20px;
                    background-color: whitesmoke;
                    height:75%;
                    border: 4px solid orange;
                    border-width: 4px 0 0 4px;
                    border-radius: 20px;
                    box-shadow: 10px 10px rgb(93, 93, 192);
                   
                }
            }
        }
    
        .section-3B{
           margin-top:7%;
            width:90%;
          
            
          
             .section-31{
                display: flex;
                flex-direction: column;
                gap:25px;
                margin-left:5%;
              
             }
                
             .p-1{
                text-align: center;
                width:85%;
               
                height:75%;
                padding: 25px ;
                border-radius: 20px;
                background-color: whitesmoke;
                box-shadow: 10px 10px rgb(93, 93, 192);
                border: 4px solid orange;
                border-width: 4px 0 0 4px;
             
                
            }
        }
    
        .section-4A{
          
            display: flex;
            flex-direction: column;
            width:100%;
            
           
            
    
                .section-41{
                    height:70%;
                    width:90%;
                    margin:2%;
                    padding:2%;
                    line-height: 30px;
                    font-size: 20px;
                    
               }
                
    
                .section-42{
    
                    height:70%;
                    width:100%;
                   
    
    
                    .sky1{
                       margin-left: 3%;
                        width:88%;
                       
                    }
                }
    
    
        }
    
            .section-4B{
               
                margin-top: 10%; 
               width:100%;
               display: flex;
               flex-direction: column;
               
                .section-41B{
                       
                       
                       
    
                        .sky1{
                           margin-left:3%; 
                           width:88%;
                           
                        }
    
                    }
    
                    .section-42B{
                        height:70%;
                        width:90%;
                        
                        padding:3%;
                        line-height: 30px;
                        font-size: 20px;
    
                    }
            }
    
            .section-5{
                
                height:100%;
                width:100%;
                color:white;
                text-align: center;
                background-color: #ed7268;
                
    
                    .btn-div{
                        height:30%;
                        width:40%;
                        margin-left:20%;
                       
                        
                            .btn-cal {
    
                                height:70%;
                                width:50%;
                                color:white;
                                border-radius: 5px;
                                margin:2% 0 2% 30%;
                                border:2px solid white;
                                background-color: transparent;
                                font-weight: bold;
                                cursor: pointer;
                                
                            }
                            .btn-cal:hover{
                                background-color: white;
                                color: #33475b;
                            }
                     }
             } 
    }
}


@media(min-width:992px) and (max-width: 1199.98px) {
    .Main {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('sky.jpg');
        background-attachment: fixed;
        background-size: 100%;
        width: 100%;
        height: 710px; 
     
       
        .section-1{
                margin:10%;
                
                   .h1-A{
                        text-align: center;
                    }
    
                    .p1{
                        width:100%;
                        font-size: 20px;
                        line-height: 30px;
                        text-align: center;
                        
                    }
    
            .bt-cal{
                height:50px;
                margin:  5% 42% ;
                width:18%;
                cursor: pointer;
                font-size: 17px;
                background-color: #ed7268;
                color:white;
                border:none;
                border-radius: 5px;
                font-weight: bold;
                
            }
    
        }
    
        
        .section-2{
           
            display: flex;
            width:100%;
            background-color: #33475b;
            justify-content: space-around;
           
    
                .glance{
                    color:white;
                    padding:10px;
                }
           
             .client{
                    display: flex;
                    color:white;
                    padding:10px;
    
                    .Active{
                        display: flex;
                        flex-direction: row;
                       
    
                        .num{
                            font-size:29px;
                    } 
                    .Aw{
                        padding:15px;
                    }
                }   
            }
        }
    
    
        .section-3A{
           width:90%;
           
    
            .h1-3A{
                text-align: center;
            }
          
           
            .h1-A{
    
                display: flex;
                text-align: center;
                
                .section-31{
                        display: flex;
                        gap:4%;
                    }
    
                .p-1{
                    
                    width:35%;
                    padding: 25px ;
                    border-radius: 20px;
                    background-color: whitesmoke;
                    height:75%;
                    border: 4px solid orange;
                    border-width: 4px 0 0 4px;
                    border-radius: 20px;
                    box-shadow: 10px 10px rgb(93, 93, 192);
                   
                }
            }
        }
    
        .section-3B{
           margin-top:7%;
            width:90%;
            display: flex;
            
          
             .section-31{
                display: flex;
                gap:4%;
              
             }
                
             .p-1{
                text-align: center;
                width:35%;
                height:75%;
                padding: 27px ;
                border-radius: 20px;
                background-color: whitesmoke;
                box-shadow: 10px 10px rgb(93, 93, 192);
                border: 4px solid orange;
                border-width: 4px 0 0 4px;
             
                
            }
        }
    
        .section-4A{
            
            display: flex;
            width:100%;
           
            
    
                .section-41{
                    height:70%;
                    width:40%;
                    margin:2%;
                    padding:2%;
                    line-height: 30px;
                    font-size: 20px;
                    
               }
                
    
                .section-42{
    
                    height:70%;
                    width:50%;
                    margin:2%;
    
    
                    .sky1{
                        height:100%;
                        width:88%;
                        margin:7% 0 0 4%;
                    }
                }
    
    
        }
    
            .section-4B{
               
                 
               width:100%;
               display: flex;
               
                .section-41B{
                        height:70%;
                        width:50%;
                       
    
                        .sky1{
                            height:100%;
                            width:86%;
                            margin:10% 0 0 4%;
                        }
    
                    }
    
                    .section-42B{
                        height:70%;
                        width:40%;
                        margin:3%;
                        padding:2%;
                        line-height: 30px;
                        font-size: 20px;
    
                    }
            }
    
            .section-5{
                
                height:100%;
                width:100%;
                color:white;
                text-align: center;
                background-color: #ed7268;
                
    
                    .btn-div{
                        height:30%;
                        width:20%;
                        margin:2% 0 2% 37%;
                       
                        
                            .btn-cal {
    
                                height:70%;
                                width:50%;
                                color:white;
                                border-radius: 5px;
                                margin:2% 0 2% 30%;
                                border:2px solid white;
                                background-color: transparent;
                                font-weight: bold;
                                cursor: pointer;
                                
                            }
                            .btn-cal:hover{
                                background-color: white;
                                color: #33475b;
                            }
                     }
             } 
    }
}

@media(min-width:1200px)  {
    .Main {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('sky.jpg');
        background-attachment: fixed;
        background-size: 100%;
        width: 100%;
        height: 710px; 
     
       
        .section-1{
                margin:10%;
                
                   .h1-A{
                        text-align: center;
                    }
    
                    .p1{
                        width:100%;
                        font-size: 20px;
                        line-height: 30px;
                        text-align: center;
                        
                    }
    
            .bt-cal{
                height:50px;
                margin:  5% 42% ;
                width:18%;
                cursor: pointer;
                font-size: 17px;
                background-color: #ed7268;
                color:white;
                border:none;
                border-radius: 5px;
                font-weight: bold;
                
            }
    
        }
    
        
        .section-2{
           
            display: flex;
            width:100%;
            background-color: #33475b;
            justify-content: space-around;
           
    
                .glance{
                    color:white;
                    padding:10px;
                }
           
             .client{
                    display: flex;
                    color:white;
                    padding:10px;
    
                    .Active{
                        display: flex;
                        flex-direction: row;
                       
    
                        .num{
                            font-size:29px;
                    } 
                    .Aw{
                        padding:15px;
                    }
                }   
            }
        }
    
    
        .section-3A{
           width:90%;
           
    
            .h1-3A{
                text-align: center;
            }
          
           
            .h1-A{
    
                display: flex;
                text-align: center;
                
                .section-31{
                        display: flex;
                        gap:4%;
                    }
    
                .p-1{
                    
                    width:35%;
                    padding: 25px ;
                    border-radius: 20px;
                    background-color: whitesmoke;
                    height:75%;
                    border: 4px solid orange;
                    border-width: 4px 0 0 4px;
                    border-radius: 20px;
                    box-shadow: 10px 10px rgb(93, 93, 192);
                   
                }
            }
        }
    
        .section-3B{
           margin-top:7%;
            width:90%;
            display: flex;
            
          
             .section-31{
                display: flex;
                gap:4%;
              
             }
                
             .p-1{
                text-align: center;
                width:35%;
                height:75%;
                padding: 27px ;
                border-radius: 20px;
                background-color: whitesmoke;
                box-shadow: 10px 10px rgb(93, 93, 192);
                border: 4px solid orange;
                border-width: 4px 0 0 4px;
             
                
            }
        }
    
        .section-4A{
            
            display: flex;
            width:100%;
           
            
    
                .section-41{
                    height:70%;
                    width:40%;
                    margin:2%;
                    padding:2%;
                    line-height: 30px;
                    font-size: 20px;
                    
               }
                
    
                .section-42{
    
                    height:70%;
                    width:50%;
                    margin:2%;
    
    
                    .sky1{
                        height:100%;
                        width:88%;
                        margin:7% 0 0 4%;
                    }
                }
    
    
        }
    
            .section-4B{
               
                 
               width:100%;
               display: flex;
               
                .section-41B{
                        height:70%;
                        width:50%;
                       
    
                        .sky1{
                            height:100%;
                            width:86%;
                            margin:10% 0 0 4%;
                        }
    
                    }
    
                    .section-42B{
                        height:70%;
                        width:40%;
                        margin:3%;
                        padding:2%;
                        line-height: 30px;
                        font-size: 20px;
    
                    }
            }
    
            .section-5{
                
                height:100%;
                width:100%;
                color:white;
                text-align: center;
                background-color: #ed7268;
                
    
                    .btn-div{
                        height:30%;
                        width:20%;
                        margin:2% 0 2% 37%;
                       
                        
                            .btn-cal {
    
                                height:70%;
                                width:50%;
                                color:white;
                                border-radius: 5px;
                                margin:2% 0 2% 30%;
                                border:2px solid white;
                                background-color: transparent;
                                font-weight: bold;
                                cursor: pointer;
                                
                            }
                            .btn-cal:hover{
                                background-color: white;
                                color: #33475b;
                            }
                     }
             } 
    }
}

@media(min-width:1400px)  {
    .Main {
       
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('sky.jpg');
        background-attachment: fixed;
        background-size: 100%;
        width: 100%;
        height: 710px; 
     
       
        .section-1{
                margin:10%;
                
                   .h1-A{
                        text-align: center;
                    }
    
                    .p1{
                        width:100%;
                        font-size: 20px;
                        line-height: 30px;
                        text-align: center;
                        
                    }
    
            .bt-cal{
                height:50px;
                margin:  5% 42% ;
                width:18%;
                cursor: pointer;
                font-size: 17px;
                background-color: #ed7268;
                color:white;
                border:none;
                border-radius: 5px;
                font-weight: bold;
                
            }
    
        }
    
        
        .section-2{
           
            display: flex;
            width:100%;
            background-color: #33475b;
            justify-content: space-around;
           
    
                .glance{
                    color:white;
                    padding:10px;
                }
           
             .client{
                    display: flex;
                    color:white;
                    padding:10px;
    
                    .Active{
                        display: flex;
                        flex-direction: row;
                       
    
                        .num{
                            font-size:29px;
                    } 
                    .Aw{
                        padding:15px;
                    }
                }   
            }
        }
    
    
        .section-3A{
           width:90%;
           
    
            .h1-3A{
                text-align: center;
            }
          
           
            .h1-A{
    
                display: flex;
                text-align: center;
                
                .section-31{
                        display: flex;
                        gap:4%;
                    }
    
                .p-1{
                    
                    width:35%;
                    padding: 25px ;
                    border-radius: 20px;
                    background-color: whitesmoke;
                    height:75%;
                    border: 4px solid orange;
                    border-width: 4px 0 0 4px;
                    border-radius: 20px;
                    box-shadow: 10px 10px rgb(93, 93, 192);
                   
                }
            }
        }
    
        .section-3B{
           margin-top:7%;
            width:90%;
            display: flex;
            
          
             .section-31{
                display: flex;
                gap:4%;
              
             }
                
             .p-1{
                text-align: center;
                width:35%;
                height:75%;
                padding: 27px ;
                border-radius: 20px;
                background-color: whitesmoke;
                box-shadow: 10px 10px rgb(93, 93, 192);
                border: 4px solid orange;
                border-width: 4px 0 0 4px;
             
                
            }
        }
    
        .section-4A{
            
            display: flex;
            width:100%;
           
            
    
                .section-41{
                    height:70%;
                    width:40%;
                    margin:2%;
                    padding:2%;
                    line-height: 30px;
                    font-size: 20px;
                    
               }
                
    
                .section-42{
    
                    height:70%;
                    width:50%;
                    margin:2%;
    
    
                    .sky1{
                        height:100%;
                        width:88%;
                        margin:7% 0 0 4%;
                    }
                }
    
    
        }
    
            .section-4B{
               
                 
               width:100%;
               display: flex;
               
                .section-41B{
                        height:70%;
                        width:50%;
                       
    
                        .sky1{
                            height:100%;
                            width:86%;
                            margin:10% 0 0 4%;
                        }
    
                    }
    
                    .section-42B{
                        height:70%;
                        width:40%;
                        margin:3%;
                        padding:2%;
                        line-height: 30px;
                        font-size: 20px;
    
                    }
            }
    
            .section-5{
                
                height:100%;
                width:100%;
                color:white;
                text-align: center;
                background-color: #ed7268;
                
    
                    .btn-div{
                        height:30%;
                        width:20%;
                        margin:2% 0 2% 37%;
                       
                        
                            .btn-cal {
    
                                height:70%;
                                width:50%;
                                color:white;
                                border-radius: 5px;
                                margin:2% 0 2% 30%;
                                border:2px solid white;
                                background-color: transparent;
                                font-weight: bold;
                                cursor: pointer;
                                
                            }
                            .btn-cal:hover{
                                background-color: white;
                                color: #33475b;
                            }
                     }
             } 
    }
}